@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');
/* @font-face {
    font-family: Kanit;
    src: url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');
} */
.sweepUI{
    font-family:  Kanit;

}

.sweepUI h1{
    font-size: larger;
}
.sweepUI button{
background-color: rgb(242, 242, 242);
border-width: 3px;
border-color: rgb(150, 150, 150);
border-radius: 10%;
padding-left: 1em;
padding-right: 1em;
transition: 0.5s;
}
.sweepUI button:hover{
background-color: rgb(255, 255, 255);
    transition: 0.5s;
    
    }
.sweepUI p{
    font-family:  Kanit;

}
@keyframes win {
    from {color: red;} 
    25%{ color: rgb(14, 175, 8);}

    50%{ color: rgb(24, 214, 208);}
    75%{ color: rgb(64, 0, 255);}

    to {color: rgb(255, 0, 111);}
  }
.win{
 animation: win 1s infinite alternate;
}
.loss{
    color:rgb(249, 70, 70);
}
.on{
    border-radius: 2px;
    padding: 1em;
background: red;
color:white;
}
.off{
    border-radius: 2px;

    padding: 1em;
background: rgb(224, 224, 224);
color:black
}